<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/resources/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/customer/stuList.js}"></script>
    <title>stuList</title>
</head>
<body>
    hello world, this is student list page.<br>

<hr>
<h2>田伟测试 ccccc</h2>

<hr>

<h3 th:text="${testAttr}">  super boy</h3>

show my daughter:<img th:src="@{/resources/imgs/7.jpg}"/>
</body>
</html>